.vscode/

*.dll
*.exe
*.amx

components/

dependencies/

filterscripts/

npcmodes/

*.ini
*.db

logs/

plugins/

*.so

bans.json
config.json
pawn.json
 
log.txt

omp-server

*.pdb
*.dmp
*.xsl

qawno/

scriptfiles/